{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" style="margin-top: 10px">
    <h2><img src="{{ url_for('static', filename='img/aws/ec2.png') }}"> Elastic Cloud Compute</h2>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="info">
    <thead>
        <tr>
            <th>Name</th>
            <th>Public DNS</th>
            <th>Public IP</th>
            <th>Private IP</th>
            <th>ID</th>
            <th>Type</th>
            <th>Price Model</th>
            <th>Zone</th>
            <th>Groups</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {% for _instances in instances['Reservations'] %}
        {% for instance in _instances['Instances'] %}
        <tr>
            <td>{% for group in instance.Tags %}
                {{ group.Value }}:{{ group.Value }}<br>
            {% endfor %}</td>
            <td><a href="ssh://{{ instance.PublicDnsName }}">{{ instance.PublicDnsName }}</a></td>
            <td>{{ instance.PublicIpAddress }}</td>
            <td>{{ instance.PrivateIpAddress }}</td>
            <td>{{ instance.InstanceId }}</td>
            <td>{{ instance.InstanceType }}</td>
            <td>{% if instance.SpotInstanceRequestId == None %}on-demand
                {% else %}spot
                {% endif %}
            </td>
            <td>{{ instance.Placement.AvailabilityZone }}</td>
            <td>{% for group in instance.SecurityGroups %}
                <a href="{{ url_for('.sg', account=current_account, region=current_region, id=group.id) }}">{{ group.name }}</a><br>
            {% endfor %}</td>
            <td>{{ instance.State.Name }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
